body {
    padding: 0;
    background-color: #fffcf5;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

.header-area {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.webname {
    font-size: 24px;
    color: #5a5957;
    margin: 0;
    font-family: 'Public Sans', sans-serif;
}

.navbar {
    width: 100%;
    height: 120px;
    background-color: #b1a99d;
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
}


.signin-btn {
    background-color: #b1a99d;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    margin-right: 0;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: #b1a99d;
    margin-top: 20px;
    margin-bottom: 50px;
}
.homepage {
    height: 500px;
    background-image: url('/static/images/monet.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.art-box {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: #b1a99d 0px 4px 8px;
    margin-top: 400px;
}
.art-box h2 {
    font-size: 24px;
    color: #5a5957;
    margin-bottom: 20px;
    font-family: 'Public Sans', sans-serif;
}

.art-box p {
    font-size: 16px;
    color: #5a5957;
    margin-bottom: 20px;
    font-family: 'Public Sans', sans-serif;
}

.inner-divider {
    width: 100%;
    height: 1px;
    background-color: #b1a99d;
    margin-top: 20px;
}

.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 0px;
    background-color: #f7eddd;
    margin-top: 200px;
}

.info-text {
    flex: 1;
    max-width: 60%;
    text-align: center;
    font-size: 25px;
    line-height: 1.6;
    background-color: #f7eddd;
    padding: 20px;
    border-radius: 8px;
    margin-left: 40px;
    
}


.sample-image  img {
    width: 250px;
    height: auto;
    border-radius: 8px;

}

.gallery-categories {
    text-align: center;
    background-color: #fffcf5;
    padding: 60px 40px;
}

.gallery-categories h2 {
    font-size: 32px;
    font-weight: 700px;
    color: #5a5957;
}

.gallery-categories p {
    font-size: 20px;
    color: #5a5957;
    margin-bottom: 50px;
}

.category-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.category-box {
    background-color: #b1a99d;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.category-box h3 {
    font-size: 20px;
    color: #5a5957;
    margin-bottom: 20px;
}
.category-image{
    background-color: #f7eddd;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.category-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}


.discover-btn {
    border-color: #bfc5c7;
    color: white;
    font-weight: 700;
    border: none;
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.discover-btn:hover {
    background-color: #9FA3A5;
}

/* Traditional section */
.container {
    display: flex;
    background-color: #fffcf5;
    min-height: 100vh;
}

.left-panel {
    width: 45%;
    padding: 40px;
    border-right: 2px solid #7b7b7b;
    background-color: #fffcf5;
}
.left-panel h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.left-panel p {
    color: #5a5957;
    line-height: 1.6;
}
/* right side of the galler */
.right-panel {
    width: 55%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Artwork cards */

.art-card {
    width: 250pxS;
    display: flex;
    align-items: center;
    background-color: #f7eddd;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;

}

.art-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 20px;
}

.art-info h3 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.art-info p {
    margin: 5px 0;
    color: #5a5957;
}

.rating {
    color:#5a5957;
    font-size: 18px;
    letter-spacing: 2px;
    
}
.art-link {
    text-decoration: none;
    color: antiquewhite;
    display: block;
}

/* Comment section */
.art-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100vh;
}

/* Left side */
.art-left {
    flex: 0 0 40%;
    background-color: #f1f1f1;
    padding: 30px;
    border-right: 2px solid #ddd;
    box-sizing: border-box;

}

.artist-info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.artist-icon {
    width: 35px;
    height: 35px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin-right: 10px;
}

.artist-name {
    font-weight: 600;
    color: #555;
}

.art-image {
    position: relative;
    text-align: center;
}

.art-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    border-radius: 8px;
    margin: 0 auto;
}

.art-details {
    margin-top: 10px;
}

.rating {
    color: #555;
    font-size: 20px;
}


.upload-btn {
    background-color: #b1a99d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 20px;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 400px;
}

/* right side*/

.art-right {
    width: 100%;
    padding: 30px;
    background-color: white;
}

.comment-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    background-color: #e8e8e8;
    border-radius: 8px;
    padding: 10px;
}

.comment-form input {
    flex: 1;
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 14px;
}

.comment-form button {
    background-color: #b1a99d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
}
.comment-form button:hover {
    background-color: #e8e8e8;
}

.comment-list {
    margin-top: 10px;
}

.comment-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.comment-user {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.user-icon {
    width: 30px;
    height: 30px;
     background-color: #d9d7cc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #6b6b6b;
    margin-right: 8px;
}

.user-icon img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.username {
    font-weight: 600;
    color: #4a4a4a;

}

.comment-text {
    color: #555;
    font-size: 14px;
}
.back-btn {
    background-color: #b1a99d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 400px;
}

/* Upload section */

.upload-wrapper {
    display: flex;
    height: 100vh;
    margin: 0;
} 

.upload-left {
    flex: 0 0 45%;
    background-color: #e8e8e8;
    padding: 60px 80px;
    box-sizing:  border-box;
}

.upload-left h2 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom:  20px;
    color: #5a5957;
    font-family: 'Public Sans', sans-serif;
}

.upload-line {
    border: none;
    height: 3px;
    background-color: #d6bc97;
    margin-bottom:  25px;
}
.upload-left ol {
    font-size: 20px;
    color: #5a5957;
    line-height:  2;
    font-family: 'Public Sans', sans-serif;
}
.upload-right {
    flex: 0 0 55%;
    padding: 80px 100px;
    background-color: #e3dfd8;
     box-sizing:  border-box;
}

.upload-right input,
.upload-right textarea,
.upload-right select {
    width: 100%;
    padding: 18px;
    border-radius: 25px;
    border: none;
    background-color: #fff;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: 'Public Sans', sans-serif;
}

.upload-buttons {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 30px;
}

.cancel-btn,
.upload-button {
    background-color: #b1a99d;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 12px 35px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    width: auto;
}

.cancel-btn:hover,
.upload-button:hover {
    background-color: #a79b8c;
}

