<!DOCTYPE html>
<html>
<head>
    <title>BHS Art Gallery</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- The navigation bar . -->
    <div class="navbar"></div>

    <!-- The header area will include the website name and a sign-in button. -->
    <div class="header-area">
         <h1 class="webname">BHS ART GALLERY</h1>
        <button class="signin-btn">Sign in</button>
    </div>
    <div class="divider"></div>
    <!-- The homepage and image section will be added here.. -->
    <section class="homepage">
        <div class="art-box">
            <h2>ART EXAMPLE FROM ARTISTS</h2>
            <p>Uploaded by: Monet </p>
            <div class="inner-divider"></div>
        </div>
    </section>

    <section class="info-section">
        <div class="info-text">
            <p>
                BHS Art Gallery is a student art space where anyone can browse artwork without logging in. 
                To upload, comment, or rate pieces, just sign in and join the community.
                Share your creativity or enjoy what others have made — it’s all here. </p>
        </div>

        <div class="sample-image">
            <img src="static/images/sampleart.jpg" alt="sample-image">
        </div>
    </section>

</body>
</html>