<!DOCTYPE html>
<html>
<head>
    <title>BHS Art Gallery</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <!-- The navigation bar . -->
    <div class="navbar"></div>

    <!-- The header area will include the website name and a sign-in button. -->
    <div class="header-area">
         <h1 class="webname">BHS ART GALLERY</h1>
        <button class="signin-btn">Sign in</button>
    </div>
    <div class="divider"></div>
    <!-- The homepage and image section will be added here.. -->
    <section class="homepage">
        <div class="art-box">
            <h2>ART EXAMPLE FROM ARTISTS</h2>
            <p>Uploaded by: Monet </p>
            <div class="inner-divider"></div>
        </div>
    </section>

    <section class="info-section">
        <div class="info-text">
            <p>
                BHS Art Gallery is a student art space where anyone can browse artwork without logging in. 
                To upload, comment, or rate pieces, just sign in and join the community.
                Share your creativity or enjoy what others have made — it’s all here. </p>
            <div class="inner-divider"></div>
        </div>

        <div class="sample-image">
            <img src="static/images/sampleart.jpg" alt="sample-image">
        </div>
    </section>

    <section class="gallery-categories">
        <h2>DISCOVER THE JOY OF ART</h2>
        <P>EACH PIECE IS FILLED WITH CARE AND PASSION</P>

        <div class="category-container">
            <div class="category-box">
                <h3>TRADITIONAL ART</h3>
                <div class="category-image">
                    <img src="static/images/vangoghsample.jpg" alt="sample-image">
                </div>
               <button class="discover-btn" onclick="location.href='traditional.html'">DISCOVER MORE</button>
            </div>

            <div class="category-box">
                <h3>DIGITAL ART</h3>
                <div class="category-image">
                    <img src="static/images/digitalart.jpg" alt="sample-image">
                </div>
                <button class="discover-btn" onclick="location.href='digital.html'">DISCOVER MORE</button>
            </div>

            <div class="category-box">
                <h3>OTHERS ART</h3>
                <div class="category-image">
                    <img src="static/images/sculpture.jpg" alt="sample-image">
                </div>
                <button class="discover-btn" onclick="location.href='others.html'">DISCOVER MORE</button>
        </div>

    </section>

</body>
</html>