<!DOCTYPE html>
<html>
<head>
    <title>BHS Art Gallery</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="navbar">
       
    </div>
    <div>
        
    </div>
    <div class="header-area">
         <h1 class="webname">BHS ART GALLERY</h1>
        <button class="signin-btn">Sign in</button>
    </div>
    <!-- The homepage and image section will be added here. The homepage will display the most recent art pieces uploaded by artists, along with their names and the date they were uploaded. Each art piece will be displayed as a thumbnail, and clicking on it will take the user to a page with more details about the artwork, including a larger image, description, and comments from other users. -->
    <section class="homepage">
        <div class="art-box">
            <h2>ART EXAMPLE FROM ARTISTS</h2>
            <p>Uploaded by: Monet </p>
        </div>
    </section>


   

</body>
</html>