<!DOCTYPE html>
<html>
<head>
    <title>BHS Art Gallery</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="traditional-section">

<div class="container">
        <div class="left-panel">
            <h1>TRADITIONAL ART</h1>
            <P>
                Traditional Art showcases
                hand‑made creations using physical materials such aspencils, paint, ink, charcoal, and more.
                Explore drawings, paintings, sketches, and mixed‑media pieces created by students. 
                You can view everything without logging in, and you can log in anytime to upload your own work, leave comments, or rate other pieces.
            </P>
        </div>
    


    <div class="right-panel">
        {% for art in uploads %}
        <a href="/art/{{ art[0] }}" class="art-link">
            <div class="art-card">
                <img src="{{ art[2] }}" alt="{{ art[1] }}">
                <div class="art-info">
                    <h3>{{ art[1] }}</h3>
                    <p>Description: {{ art[3] }}</p>
                    <div class="rating">★★★★★</div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

</div>
    
</body>