<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="upload-wrapper">
        <div class="upload-left">
            <!-- left side with instructions n back button-->

            <button class="back-btn" onclick="history.back()">← Back</button>

            <h2>How to Upload Images </h2>
            <hr class="upload-line"> 
            <ol>
                 <li>Click <strong>Choose File</strong> to pick an artwork image from your computer or phone.</li>
                 <li>Check if the file is under <strong>10MB</strong></li>
                <li>Enter your name, title, and description.</li>
                <li>Choose your artwork category</li>
                <li>Click <strong>Upload</strong> to publish!</li>
            </ol>

        </div>


        <div class="upload-right">
            <!-- right side where we can find te upload form-->

            <form id="uploadForm" action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
                <!-- image file input-->
                <div class="form-group">
                     <label for="file">Select Artwork Image:</label>
                    <input type="file" name="file" accept="image/*" required>
                </div>
                <!-- inputs and max lengths -->
                <input type="text" name="username" maxlength="30" placeholder="Your Name(max 30 letters)..." required>
                <input type="text" name="title" maxlength="30" placeholder="Image title(max 30 letters)..." required>
                <textarea name="description" maxlength="300" placeholder="Image Description(max 300 letters)..." required></textarea>

                <select name="category" required>
                    <option value="" disabled selected>Select Category...</option>
                    <option value="traditional">Traditional</option>
                    <option value="digital">Digital</option>
                    <option value="other">Other</option>
                </select>
                <!-- buttons - cancel and upload-->
                <div class="upload-buttons">
                    <button type="button" class="cancel-btn"
                        onclick="document.getElementById('uploadForm').reset()">Cancel</button>
                    <button type="submit" class="upload-button">Upload</button>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>